.container {
	width: 700px;
	margin: 0 auto;
	padding: 15px 15px 15px 15px;
}
a {
	text-decoration: none;
	color:orange;

}
a:hover {

	color: black;
}
a:visited {
	color:green;
}
body {
	font-family: 'Lora', serif;
	line-height: 1.2;
}