img {
  max-width: 90%;

}
html, body {
    height: 100%;

}
#wordcontainer {
    height: 100%;
    display: flex;
    align-items:center;
    justify-content:center;
}


 body {
 	margin: 0 auto;
 	font-family: Helvetica;
 }

 a {
 	text-decoration: none;
 	font-family: Helvetica;
 	color: white;
 }
 a:hover {
 	color:#f5f5f5;
 }
 a:visited {
 	color: white;
 }
 #container {
 	width:850px;
 	margin: 0 auto;
 	background:#F9E5E5;
    padding: 32px 0;
 }
 .title {
 	color: #FF7B7B;
 	font-size: 36px;
 	font-family: Helvetica;
 }
 .subhead {
 	color: #FF7B7B;
 	font-size: 23px;
 	font-family: Helvetica;
 	margin-top: 36px;
 }
 .nav-container {
    text-align: center;
 }
 .nav {
 	width: 175px;
    height: 28px;
    background: #FF7B7B;
    margin-left: 10px;
    margin-top: 28px;
    display: inline-block;
    font-size: 14px;
    color: white;
    padding-top: 8px;
 }

 #wod {
  display: block;
 	width: 710px;
    height: 137px;
    border: 2px solid #FF7B7B;
    margin-left: 62px;
    margin-top: 28px;
    padding-top: 56px;
    background-color: white;
    text-align: center;
 }
 .tw {
 	color: black;
 	font-size: 28px;
 	font-family: Helvetica;
    text-align: center;
 }
 .wod {
 	color: #FF7B7B;
 	font-size: 36px;
 	font-family: Helvetica;
    text-align: center;
    padding-bottom: 66px;
    font-weight: bold;
 }
 .element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
 p {
 	margin: 0 auto;
 	font-size: 16px;
 	color: black;
 	font-family: Helvetica;
 	margin-top: 5px;
    margin-left:5px; 
    padding-top: 10px;
    padding-left: 10px;
    line-height: 1.2em;
 }
 .p1 {
    background-color: #f9e5e5;
    max-width: 530px;
    margin: 16px auto;
 }
 .archbox {
 	width: 532px;
    height: 410px;
    background-color: gray;
 }
 .margin {
  margin-left: 195px;
  margin-top: 21px;
 }

/*SCROLLBAR-1*/
.scrollbar
{
    height: 239px;
    width: 356px;
    background: #FFFFFF;
    overflow-y: scroll;
    line-height: 1.4em;
    margin: 24px auto;
}

.force-overflow
{
	min-height: 20px;
}

#wrapper
{
	text-align: center;
	width: 500px;
	margin: auto;
}
#style-8::-webkit-scrollbar-track
{
	border: 1px solid #ff7b7b;
    background-color: #ffffff;
}

#style-8::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar-thumb
{
	background-color: #ff7b7b;
}
/*SCROLLBAR-TWO!!!*/
.scrollbar2
{
	margin-left: 220px;
    height: 470px;
    width: 456px;
    background: #FFFFFF;
    overflow-y: scroll;
    /*margin-bottom: 25px;
    margin-top: 16px;
    padding-top: 10px;
    padding-left: 10px;*/
    line-height: 1.4em;

}

.force-overflow2
{
	min-height: 40px;
}

#wrapper2
{
	text-align: center;
	width: 500px;
	margin: auto;
}
#style-82::-webkit-scrollbar-track
{
	border: 1px solid #ff7b7b;
    background-color: #ffffff;
}

#style-82::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-82::-webkit-scrollbar-thumb
{
	background-color: #ff7b7b;
}

a.whole-page {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.img-cont {
  max-width: 545px;
  height: 500px;
  margin: 0 auto;
}
.large-word {
  font-size:65px;
}
.margin-o {
    margin-left: 333px;
  }

/*screen widths*/

@media screen and (max-width: 850px) {

  #container {
    width: 100%;
  }

  #wod {
    width: 84%;
    margin-left: 60px;
    margin-right: 30px;
    text-align: center;
   }
}
@media screen and (max-width: 745px) {

  #container {
    width: 100%;
  }

  #wod {
    width: 84%;
    margin-left: 60px;
    margin-right: 30px;
    text-align: center;
   }
   .scrollbar2 {
    width: 50%;
    text-align: center;
    margin-left: 200px;
  }
  .margin-o {
    margin-left: 358px;
  }

}

@media screen and (max-width: 670px) {
  .large-word {
    font-size: 36px;
  }
}

@media screen and (max-width: 635px) {

  .nav {
    display: block;
    margin: 28px auto;
  }
  #wod {
    width:80%;
    margin-left: 60px;
    margin-right: 30px;
    text-align: center;
  }
  .p1 {
    margin-right: 14px;
  }
  .scrollbar {
    width: 70%;
    text-align: center;
    margin-left: 75px;
    
  }
  .scrollbar2 {
    width: 50%;
    text-align: center;
    margin-left: 155px;
  }
.margin-o {
    margin-left: 230px;
  }
}
@media screen and (max-width: 480px) {

  #container {
    width: 100%;
   
  }
  #wod {
    width: 86%;
    margin-left: 30px;
    margin-right: 30px;
  }
  .scrollbar2 {
    width: 50%;
    text-align: center;
    margin-left: 100px;
  }
  .scrollbar {
    width: 70%;
    text-align: center;
    margin-left: 88px;
    
  }
  .wordcontainer {
    width: 40%; 
  }
  .margin {
    margin-left: 150px;
}
.margin-o {
    margin-left: 160px;
}
@media screen and (max-width: 400px) {
  .margin {
    margin-left: 130px;
  }
  .margin-o {
    margin-left: 130px;
  }
  .scrollbar {
    width: 70%;
    text-align: center;
    margin-left: 60px;
}




