* {
	box-sizing: border-box;
}

body {
	background: black;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;
}
.canvas.red {
	background: #F04722;
}
.object {
	position: absolute;
}
/*sphere*/
.sphere {
	background-color: white;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	left: 300px;
	bottom: 120px;

}
.pumpkin {
	background-color: orange;
	width: 150px;
	height: 150px;
	border-radius: 40%;
	bottom: 80px;
	right:140px;
}
.vase-container {

	width: 100px;
	height: 325px;
	bottom: 90px;
	left: 195px;
}
.vase {
	width: 100px;
	height: 250px;
	background: white;
	opacity: 0.5;
	bottom: 0px;

}
.vase-bottom {
	width: 100px;
	height: 25px;
	border-radius: 50%;
	bottom: -12px;
	background: white;
}
.vase-top {
	width: 100px;
	height: 25px;
	border-radius: 50%;
	top: -12px;
	background: white;

}
.flower {
	left:20px;
}
.stem {
	background-color: green;
	width: 10px;
	height: 328px;

}
.petal {
	background-color:#9a30f4;
	width: 50px;
	height: 20px;
	border-radius: 50%;
	top:-10px;

}
.flower.one{
	left:20px;
}
.flower.two{
	left:40px;
}
.flower.three{
	left:60px;
}
.flower.four{
	left:80px;
}
.flower.five{
	left:5px;
}
/*canvas*/
.canvas.aqua {
	background: #3DECE1;
}
.canvas.aqua .sphere {
	-webkit-box-shadow: -66px 7px 36px 4px rgba(240,240,240,0.66);
-moz-box-shadow: -66px 7px 36px 4px rgba(240,240,240,0.66);
box-shadow: -66px 7px 36px 4px rgba(240,240,240,0.66);

}
.canvas.aqua .pumpkin {
	width: 150px;
	height: 150px;
	border-radius: 40%;
	bottom: 110px;
	left:150px;

}
.banana {
	background: yellow;
	width: 180px;
	height: 25px;
	border-radius: 30%;
	bottom: 115px;
	left:110px;
}
.banana.two {
	 -ms-transform: rotate(165deg); /* IE 9 */
    -webkit-transform: rotate(165deg); /* Chrome, Safari, Opera */
    transform: rotate(165deg);
    left: 130px;
    bottom: 125px;
}
.banana.three {
	 -ms-transform: rotate(19deg); /* IE 9 */
    -webkit-transform: rotate(19deg); /* Chrome, Safari, Opera */
    transform: rotate(19deg);

}
.rect {
	background: black;
	width: 100px;
	height: 15px;
	right: 321px;
	bottom: 89px;
	 -webkit-transform: rotate(189deg); /* Chrome, Safari, Opera */
    transform: rotate(189deg);
}
.ellipse {
    width: 79px;
    height: 32px;
    background: black;
    border-radius: 50%;
    right: 248px;
    bottom: 68px;
    -webkit-transform: rotate(189deg);
    transform: rotate(189deg);
}

