body {
	background-color: black;
}
/*Letters*/
.letter-definition {
    display: none;
}
.letter {
    height: 200px;
    width: 135px;
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
    position: relative;
    transform: rotate(-20deg);
    color: white;

}

.a, 
.b,
.c,
.d,
.e,
.g,
.h{
    position: absolute;
    width: 63px;
    height: 97px;
    border-width: 5px;
    border-color: white;
    border-style: solid;
    border-radius: 48% /47%;
}

.downsmall {
     position: absolute;
    width: 5px;
    left: 65px;
    height: 108%;
    bottom: -16px;
    background: black;
    transform: rotate(-3deg);

}
.downlongleft
 {
    position: absolute;
    width: 5px;
    left: -12px;
    height: 199%;
    bottom: 7px;
    background: black;
    transform: rotate(-5deg);
}

.downlongdown {
    position: absolute;
    width: 5px;
    right: 108px;
    height: 319%;
    bottom: -31px;
    background: black;
    transform: rotate(-449deg);
}
.downlongdownc
 {
    position: absolute;
    width: 5px;
    right: -16px;
    height: 235%;
    bottom: -124px;
    background: black;
    transform: rotate(-549deg);
}
.letter.b {
    margin-left: 149px;
}
.letter.c {
    margin-left: 249px;
}
.c:before
 {
    transform:rotate(45deg);
    position:absolute;
    content:'';
    top:2px;
    left:49px;
    background-color:#ffffff;
    width:90px;
    height:90px;
}
.letter.d {
     margin-left: 349px;
}
.letter.e {
   margin-left: 449px;
   bottom: 196px;
   left: 214px;
}
.downlongright {
   position: absolute;
    width: 5px;
    right: -4px;
    height: 204%;
    bottom: -16px;
    background: black;
    transform: rotate(-363deg);
}
.e:before
 {
    transform:rotate(45deg);
    position:absolute;
    content:'';
    top:2px;
    left:49px;
    background-color:black;
    width:90px;
    height:90px;
}
.e-hbar {
    width: 63px;
    height: 5px;
    position: absolute;
    top: 22px;
    left: -1px;
    background: white;
    transform: rotate(-16deg);

}
.f {
    width: 25px;
    height: 58px;
    border-width: 5px;
    border-color: #000000;
    border-style: solid;
    border-radius: 0 298%300%0 /0 172%180%0;
    transform: rotate(-120deg);
    top: -30px;
}
.letter.f {
    margin-left: 549px;
}
.curve:before
 {
    transform: rotate(87deg);
    position: absolute;
    content: '';
    top: -40px;
    left: 16px;
    width: 16px;
    height: 48px;
    border-width: 4px;
    border-color: #000000;
    border-style: solid;
    border-radius: 200%0 0 200% /100%0 0 100%;
}

.curve:after
{
    transform: rotate(-184deg);
    position: absolute;
    content: '';
    bottom: 221px;
    right: -53px;
    width: 53px;
    height: 12px;
    background-color: #FFFFFF;
}
.i {
    position: absolute;
    width: 4px;
    left: -271px;
    height: 37%;
    bottom: 95px;
    background: black;
    transform: rotate(-379deg);

}
.letter.h {
   margin-left: 149px;
   bottom: 40px;
}
.letter.i {
    margin-left: 100px;
}
.letter.j {
    margin-left: 400px;
}
.letter.k {
    margin-left: 500px;
}
.letter.l {
    margin-left: 600px;
}
.letter.m {
    margin-left: 700px;
}
.letter.n {
    margin-left: 800px;
}
.hbar {
    position: absolute;
    width: 5px;
    left: -10px;
    height: 201%;
    bottom: 7px;
    background: white;
    transform: rotate(-5deg);
}
.h:before
 {
    transform: rotate(-4deg);
    position: absolute;
    content: '';
    top: 65px;
    left: 5px;
    background-color: black;
    width: 55px;
    height: 90px;
}
.j {
    position: absolute;
    width: 5px;
    right: 1103px;
    height: 56%;
    top: 110px;
    background: black;
    transform: rotate(-559deg);
}
.j:before
 {
    transform: rotate(87deg);
    position: absolute;
    content: '';
    top: -39px;
    left: 15px;
    width: 16px;
    height: 48px;
    border-width: 4px;
    border-color: #000000;
    border-style: solid;
    border-radius: 200%0 0 200% /100%0 0 100%;
}

.j:after
{
    transform: rotate(-183deg);
    position: absolute;
    content: '';
    bottom: 159px;
    right: -53px;
    width: 53px;
    height: 30px;
    background-color: #FFFFFF;
}
.k {
    position: absolute;
    width: 4px;
    left: -614px;
    height: 64%;
    bottom: 101px;
    background: black;
    transform: rotate(-19deg);
}
.topbk {
    position: absolute;
    width: 4px;
    right: -18px;
    height: 23%;
    bottom: 104px;
    background: black;
    transform: rotate(45deg);
}
.bottombk {
    position: absolute;
    width: 5px;
    right: -122px;
    height: 547%;
    bottom: -180px;
    background: black;
    transform: rotate(-425deg);
}
.l {
   position: absolute;
    width: 5px;
    right: 993px;
    height: 62%;
    top: 24px;
    background: black;
    transform: rotate(-20deg);
}
#box {
    height: 280px;
    width: 1000px;
    display: inline-block;
    background-color: #FFFFFF;
    right: -490px;
    position: relative;
    top: 82px;
    float: right;
    padding-bottom: 50px;
}
.m {
    position: absolute;
    width: 5px;
    left: -268px;
    height: 18%;
    bottom: 118px;
    background: white;
    transform: rotate(-20deg);
}
.oval {
   position: absolute;
    width: 63px;
    height: 97px;
    border-width: 5px;
    border-color: white;
    border-style: solid;
    border-radius: 48% /47%;
    top: 25px;
}
.ovaltwo {
   position: absolute;
    width: 63px;
    height: 97px;
    border-width: 5px;
    border-color: white;
    border-style: solid;
    border-radius: 48% /47%;
    top: 17px;
    left: 63px;
}
.m:after
 {
    transform: rotate(-2deg);
    position: absolute;
    content: '';
    top: 69px;
    left: 6px;
    background-color: black;
    width: 55px;
    height: 90px;
}
.ovaltwo:after{
    transform: rotate(8deg);
    position: absolute;
    content: '';
    top: 40px;
    left: -4px;
    background-color: black;
    width: 57px;
    height: 90px;
}
.n {
    position: absolute;
    width: 5px;
    left: -600px;
    height: 35%;
    bottom: 104px;
    background: black;
    transform: rotate(-20deg);
}
.nov {
   position: absolute;
    width: 63px;
    height: 97px;
    border-width: 5px;
    border-color: #000000;
    border-style: solid;
    border-radius: 48% /47%;
    top: 31px; 
}
.n:after
 {
    transform: rotate(3deg);
    position: absolute;
    content: '';
    top: 69px;
    left: 5px;
    background-color: #FFFFFF;
    width: 55px;
    height: 90px;
}
.o {
    position: absolute;
    width: 63px;
    height: 97px;
    border-width: 5px;
    border-color: white;
    border-style: solid;
    border-radius: 48% /47%;
    top: 328px;
    left: 240px;
}
.p {
    position: absolute;
    width: 5px;
    left: 393px;
    height: 64%;
    bottom: 7px;
    background: black;
    transform: rotate(-17deg);
}
.pov {
   position: absolute;
    width: 63px;
    height: 97px;
    border-width: 5px;
    border-color: #000000;
    border-style: solid;
    border-radius: 48% /47%;
    top: 14px; 
}
.q {
    position: absolute;
    width: 4px;
    right: 408px;
    height: 64%;
    bottom: 9px;
    background: black;
    transform: rotate(-17deg);
}
.qov {
  position: absolute;
    width: 63px;
    height: 97px;
    border-width: 5px;
    border-color: #000000;
    border-style: solid;
    border-radius: 48% /47%;
    top: -4px;
    right: 0px;
}
.r {
    position: absolute;
    width: 5px;
    right: 388px;
    height: 33%;
    bottom: 105px;
    background: black;
    transform: rotate(-17deg);
}
.rov {
   position: absolute;
    width: 63px;
    height: 97px;
    border-width: 5px;
    border-color: #000000;
    border-style: solid;
    border-radius: 48% /47%;
    top: 6px; 
}
.r:after
 {
   transform: rotate(-1deg);
    position: absolute;
    content: '';
    top: 70px;
    left: 6px;
    background-color: #FFFFFF;
    width: 55px;
    height: 90px;
}
.rov:after
 {
    transform: rotate(-2deg);
    position: absolute;
    content: '';
    top: 26px;
    left: 49px;
    background-color: #FFFFFF;
    width: 55px;
    height: 90px;
}
.s {
    position: absolute;
    width: 63px;
    height: 97px;
    border-width: 5px;
    border-color: #000000;
    border-style: solid;
    border-radius: 48% /47%;
    top: 120px;
    left: 0px;
}
.diag:before
 {
    transform: rotate(-89deg);
    position: absolute;
    content: '';
    top: 45px;
    left: -9px;
    background-color: #FFFFFF;
    width: 58px;
    height: 32px;
}
.s:before
 {
    transform: rotate(-149deg);
    position: absolute;
    content: '';
    top: 39px;
    left: -16px;
    background-color: #FFFFFF;
    width: 58px;
    height: 32px;
}

#boxtwo {
    height: 280px;
    width: 1000px;
    display: inline-block;
    background-color: #FFFFFF;
    right: -8px;
    position: relative;
    top: 240px;
    float: left;
    padding-bottom: 50px;
}
.diag{
    position: absolute;
    width: 4px;
    left: 30px;
    height: 74%;
    bottom: 15px;
    background: black;
    transform: rotate(-59deg);
}
.t {
    position: absolute;
    width: 5px;
    left: 99px;
    height: 65%;
    bottom: 99px;
    background: black;
    transform: rotate(-17deg);
}
.tbar{
    position: absolute;
    width: 5px;
    left: -14px;
    height: 23%;
    bottom: 108px;
    background: black;
    transform: rotate(-101deg);  
}
.u{
    position: absolute;
    width: 63px;
    height: 97px;
    border-width: 5px;
    border-color: #000000;
    border-style: solid;
    border-radius: 48% /47%;
    top: 114px;
    left: 153px;
}
.ubar{
    position: absolute;
    width: 5px;
    left: 49px;
    height: 235%;
    bottom: -27px;
    background: black;
    transform: rotate(0deg);
}
.u:before
 {
    transform: rotate(-176deg);
    position: absolute;
    content: '';
    top: -6px;
    left: -2px;
    background-color: #FFFFFF;
    width: 66px;
    height: 37px;
}
.v {
    position: absolute;
    width: 5px;
    left: 250px;
    height: 68%;
    bottom: 95px;
    background: black;
    transform: rotate(-21deg);
}
.vbar{
    position: absolute;
    width: 5px;
    left: 27px;
    height: 53%;
    bottom: -14px;
    background: black;
    transform: rotate(43deg);
}
.w {
    position: absolute;
    width: 5px;
    left: 374px;
    height: 68%;
    bottom: 93px;
    background: black;
    transform: rotate(-21deg);
}
.w2 {
     position: absolute;
    width: 5px;
    left: 42px;
    height: 53%;
    bottom: -14px;
    background: black;
    transform: rotate(43deg);
}
.w3 {
    position: absolute;
    width: 5px;
    left: 86px;
    height: 54%;
    bottom: -34px;
    background: black;
    transform: rotate(-3deg);
}
.w4 {
   position: absolute;
    width: 5px;
    left: 123px;
    height: 51%;
    bottom: -41px;
    background: black;
    transform: rotate(35deg);
}
.x {
    position: absolute;
    width: 5px;
    left: 603px;
    height: 102%;
    bottom: -9px;
    background: black;
    transform: rotate(-21deg);
}
.x2{
    position: absolute;
    width: 5px;
    left: -21px;
    height: 42%;
    bottom: 109px;
    background: black;
    transform: rotate(47deg);
}
.y {
    position: absolute;
    width: 63px;
    height: 97px;
    border-width: 5px;
    border-color: #000000;
    border-style: solid;
    border-radius: 48% /47%;
    top: 114px;
    left: 642px;
}
.y:before
 {
    transform: rotate(-175deg);
    position: absolute;
    content: '';
    top: -10px;
    left: -20px;
    background-color: #FFFFFF;
    width: 85px;
    height: 45px;
}
.ybar{
    position: absolute;
    width: 5px;
    right: -11px;
    height: 235%;
    bottom: -136px;
    background: black;
    transform: rotate(-543deg);
}
.ybar:before{
    transform: rotate(87deg);
    position: absolute;
    content: '';
    top: -35px;
    left: 15px;
    width: 16px;
    height: 48px;
    border-width: 4px;
    border-color: #000000;
    border-style: solid;
    border-radius: 200%0 0 200% /100%0 0 100%;
}
.ybar:after{
    transform: rotate(-180deg);
    position: absolute;
    content: '';
    bottom: 199px;
    right: -53px;
    width: 53px;
    height: 30px;
    background-color: #FFFFFF;
}
.z {
    position: absolute;
    width: 5px;
    right: 177px;
    height: 24%;
    bottom: 174px;
    background: black;
    transform: rotate(-287deg);
}
.zd{
    position: absolute;
    width: 5px;
    left: 50px;
    height: 176%;
    bottom: -35px;
    background: black;
    transform: rotate(131deg);
}
.z3 {
   position: absolute;
    width: 5px;
    right: -103px;
    height: 105%;
    bottom: -12px;
    background: black;
    transform: rotate(-358deg);
}
#boxthree {
    height: 280px;
    width: 1000px;
    display: inline-block;
    background-color: #FFFFFF;
    right: -68px;
    position: relative;
    top: 380px;
    float: right;
    padding-bottom: 50px;
}
.one{
    position: absolute;
    width: 5px;
    left: 99px;
    height: 78%;
    bottom: 52px;
    background: black;
    transform: rotate(-17deg);
}
.od {
    position: absolute;
    width: 5px;
    left: -21px;
    height: 23%;
    bottom: 207px;
    background: black;
    transform: rotate(-130deg); 
}
.two {
    position: absolute;
    width: 71px;
    height: 114px;
    border-width: 5px;
    border-color: #000000;
    border-style: solid;
    border-radius: 48% /47%;
    top: 1px;
    left: 142px;
    transform: rotate(154deg);
}
.tt{
    position: absolute;
    width: 5px;
    left: 69px;
    height: 153%;
    bottom: 89px;
    background: black;
    transform: rotate(-140deg);
}
.ttt{
    position: absolute;
    width: 5px;
    right: -3px;
    height: 105%;
    bottom: 185px;
    background: black;
    transform: rotate(-449deg);
}
.two:before{
    transform: rotate(-95deg);
    position: absolute;
    content: '';
    top: 10px;
    left: 7px;
    background-color: #FFFFFF;
    width: 104px;
    height: 70px;
}
.three {
    position: absolute;
    width: 86px;
    height: 140px;
    border-width: 5px;
    border-color: #000000;
    border-style: solid;
    border-radius: 48% /47%;
    top: -20px;
    left: 272px;
    transform: rotate(154deg);
}
.td{
    position: absolute;
    width: 5px;
    left: 19px;
    height: 58%;
    bottom: 92px;
    background: black;
    transform: rotate(29deg);
}
.t3 {
    position: absolute;
    width: 94px;
    height: 168px;
    border-width: 5px;
    border-color: #000000;
    border-style: solid;
    border-radius: 48% /47%;
    top: -181px;
    left: -25px;
    transform: rotate(-184deg);
}
.three:before{
    transform: rotate(-123deg);
    position: absolute;
    content: '';
    top: 23px;
    left: 11px;
    background-color: #FFFFFF;
    width: 131px;
    height: 56px;
}
.t3:before{
    transform: rotate(-97deg);
    position: absolute;
    content: '';
    top: 22px;
    left: -48px;
    background-color: #FFFFFF;
    width: 104px;
    height: 70px;
}
.four {
    position: absolute;
    width: 5px;
    left: 442px;
    height: 28%;
    bottom: 247px;
    background: black;
    transform: rotate(-7deg);
}
.f2 {
    position: absolute;
    width: 5px;
    left: 45px;
    height: 106%;
    bottom: -39px;
    background: black;
    transform: rotate(78deg);
}
.f3{ 
    position: absolute;
    width: 5px;
    left: 110px;
    height: 340%;
    bottom: -215px;
    background: black;
    transform: rotate(-13deg);
}
.five{
    position: absolute;
    width: 5px;
    right: 371px;
    height: 33%;
    bottom: 287px;
    background: black;
    transform: rotate(-476deg);
}
.ff {
    position: absolute;
    width: 5px;
    left: -76px;
    height: 142%;
    bottom: 34px;
    background: black;
    transform: rotate(-90deg);
}
.fo {
   position: absolute;
    width: 113px;
    height: 205px;
    border-width: 5px;
    border-color: #000000;
    border-style: solid;
    border-radius: 48% /47%;
    top: -51px;
    left: -264px;
    transform: rotate(-276deg);
}
.fo:before{
    transform: rotate(-97deg);
    position: absolute;
    content: '';
    top: 65px;
    left: -48px;
    background-color: #FFFFFF;
    width: 104px;
    height: 70px;
}
.six {
    position: absolute;
    width: 5px;
    left: 784px;
    height: 90%;
    bottom: 93px;
    background: black;
    transform: rotate(-22deg);
}
.sixo {
    position: absolute;
    width: 78px;
    height: 137px;
    border-width: 5px;
    border-color: #000000;
    border-style: solid;
    border-radius: 48% /47%;
    bottom: -65px;
    right: -83px;
    transform: rotate(174deg);
}
.seven{
    position: absolute;
    width: 5px;
    right: 26px;
    height: 107%;
    bottom: 53px;
    background: black;
    transform: rotate(-18deg);
}
.st {
    position: absolute;
    width: 5px;
    right: 57px;
    height: 36%;
    bottom: 262px;
    background: black;
    transform: rotate(-114deg);
}
.eight {
   position: absolute;
    width: 120px;
    height: 235px;
    border-width: 5px;
    border-color: #000000;
    border-style: solid;
    border-radius: 48% /47%;
    top: 29px;
    right: -152px;
    transform: rotate(-203deg);
}
.eo {
    position: absolute;
    width: 71px;
    height: 114px;
    border-width: 5px;
    border-color: #000000;
    border-style: solid;
    border-radius: 48% /47%;
    bottom: -122px;
    right: 2px;
    transform: rotate(175deg);
}
.nine {
    position: absolute;
    width: 71px;
    height: 117px;
    border-width: 5px;
    border-color: #000000;
    border-style: solid;
    border-radius: 48% /47%;
    bottom: 271px;
    right: -176px;
    transform: rotate(154deg);
}
.no {
    position: absolute;
    width: 5px;
    right: 55px;
    height: 300%;
    bottom: 9px;
    background: black;
    transform: rotate(9deg);
}
.zero {
    position: absolute;
    width: 127px;
    height: 281px;
    border-width: 5px;
    border-color: #000000;
    border-style: solid;
    border-radius: 48% /47%;
    top: -44px;
    right: -368px;
    transform: rotate(-201deg);
}
#boxfour {
    height: 280px;
    width: 1000px;
    display: inline-block;
    background-color: #FFFFFF;;
    right: -8px;
    position: relative;
    top: 524px;
    float: left;
    padding-bottom: 50px;
}
.per {
    position: absolute;
    width: 6px;
    left: 68px;
    height: 2%;
    bottom: 9px;
    background: black;
    transform: rotate(-215deg);
}
.comma {
    position: absolute;
    width: 6px;
    left: 92px;
    height: 6%;
    bottom: 2px;
    background: black;
    transform: rotate(-215deg);
}
.exc {
    position: absolute;
    width: 5px;
    left: 86px;
    height: 61%;
    bottom: 19px;
    background: black;
    transform: rotate(-22deg);
}
.exd {
   position: absolute;
    width: 8px;
    left: -1px;
    height: 3%;
    bottom: -24px;
    background: black;
    transform: rotate(-92deg);
}
.que {
    position: absolute;
    width: 71px;
    height: 114px;
    border-width: 5px;
    border-color: #000000;
    border-style: solid;
    border-radius: 48% /47%;
    bottom: 112px;
    left: 117px;
    transform: rotate(152deg);
}
.que:before{
    transform: rotate(-104deg);
    position: absolute;
    content: '';
    top: 9px;
    left: 3px;
    background-color: #FFFFFF;
    width: 104px;
    height: 64px;
}
.que2 {
    position: absolute;
    width: 71px;
    height: 114px;
    border-width: 5px;
    border-color: #000000;
    border-style: solid;
    border-radius: 48% /47%;
    bottom: 99px;
    left: -42px;
    transform: rotate(182deg);
}
.que2:before{
    transform: rotate(-103deg);
    position: absolute;
    content: '';
    top: 25px;
    left: 3px;
    background-color: #FFFFFF;
    width: 159px;
    height: 80px;
}
.que2:after{
    transform: rotate(-103deg);
    position: absolute;
    content: '';
    top: 127px;
    left: -31px;
    background-color: #FFFFFF;
    width: 159px;
    height: 63px;
}
.quep {
    position: absolute;
    width: 8px;
    left: 22px;
    height: 5%;
    bottom: 224px;
    background: black;
    transform: rotate(-102deg);
}
#boxfive {
    height: 280px;
    width: 1000px;
    display: inline-block;
    background-color: #FFFFFC;
    right: -8px;
    position: relative;
    top: 124px;
    float: left;
    padding-bottom: 50px;
}
/*a {
	height: 68px;
    width: 21px;
    background-color: white;
    transform: rotate(-43deg);
    position: fixed;
    display: block;
    left: 271px;
    top: -16px;
    margin-left: 45px;
}*/
/*a:hover {
    height: 130px;
    width: 21px;
    background-color: white;
    transform: rotate(-43deg);
    position: absolute;   
}*/
.bar2 {
	height: 116px;
    width: 21px;
    background-color: white;
    transform: rotate(-43deg);
    position: fixed;
    left: 357px;
    top: -30px;
}
.bar3 {
	height: 125px;
    width: 21px;
    background-color: white;
    transform: rotate(-43deg);
    position: fixed;
    left: 391px;
    top: -47px;
}
