body {
    margin: 75px;
}
	
.letter {
    height: 200px;
    width: 135px;
  /*  background: yellow;*/
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
    position: relative;
    transform: rotate(-20deg);
}

.a, 
.b,
.c,
.d,
.e,
.g {
    position: absolute;
    width: 63px;
    height: 97px;
    border-width: 5px;
    border-color: #000000;
    border-style: solid;
    border-radius: 48% /47%;
}
.downsmall {
    position: absolute;
    width: 5px;
    left: 68px;
    height: 108%;
    bottom: -17px;
    background: black;
    transform: rotate(-5deg);
}
.downlongleft {
    position: absolute;
    width: 5px;
    left: -13px;
    height: 199%;
    bottom: 7px;
    background: black;
    transform: rotate(-5deg);
}

.downlongdown {
    position: absolute;
    width: 5px;
    right: 91px;
    height: 235%;
    bottom: -13px;
    background: black;
    transform: rotate(-455deg);
}
.downlongdownc,
.j {
    position: absolute;
    width: 5px;
    right: -20px;
    height: 235%;
    bottom: -124px;
    background: black;
    transform: rotate(-549deg);
}
.letter.b {
    margin-left: 149px;
}
.letter.c {
    margin-left: 249px;
}
.c:before
 {
    transform:rotate(45deg);
    position:absolute;
    content:'';
    top:2px;
    left:49px;
    background-color:#ffffff;
    width:90px;
    height:90px;
}
.letter.d {
     margin-left: 349px;
}
.letter.e {
    margin-left: 449px;
}
.downlongright {
   position: absolute;
    width: 5px;
    right: -6px;
    height: 200%;
    bottom: -11px;
    background: black;
    transform: rotate(-363deg);
}
.e:before
 {
    transform:rotate(45deg);
    position:absolute;
    content:'';
    top:2px;
    left:49px;
    background-color:#ffffff;
    width:90px;
    height:90px;
}
.e-hbar {
    width: 64px;
    height: 5px;
    position: absolute;
    top: 23px;
    left: -1px;
    background: black;
    transform: rotate(-16deg);

}
.f {
    width: 25px;
    height: 58px;
    border-width: 5px;
    border-color: #000000;
    border-style: solid;
    border-radius: 0 298%300%0 /0 172%180%0;
    transform: rotate(-120deg);
    top: -30px;
}
.letter.f {
    margin-left: 549px;
}
.curve:before,
.j {
    transform: rotate(87deg);
    position: absolute;
    content: '';
    top: -41px;
    left: 15px;
    width: 16px;
    height: 48px;
    border-width: 4px;
    border-color: #000000;
    border-style: solid;
    border-radius: 200%0 0 200% /100%0 0 100%;
}

.curve:after,
.j {
    transform: rotate(-180deg);
    position: absolute;
    content: '';
    bottom: 206px;
    right: -50px;
    width: 50px;
    height: 30px;
    background-color: #ffffff;
}
.i {
    position: absolute;
    width: 5px;
    right: 107px;
    height: 26%;
    bottom: 408px;
    background: black;
    transform: rotate(-391deg);

}
.letter.i {
    margin-left: 549px;
}
.letter.j {
    margin-left: 849px;
}
